header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(39, 39, 39);
  outline: 1px solid black;
  position: relative;
}

.icon {
  width: 60px;
  height: width;
  position: absolute;
  left: 10px;
}

.scramble {
  font-size: 1.4rem;
  color: white;
}
